
<ul class="nav nav-underline overflow-x-auto flex-nowrap justify-content-center">
  <% for (let i=0; i < counts.length; i++){ %>
    <li class="nav-item">
      <a class="nav-link <%= activeCategory === counts[i].name ? 'active' : '' %>" 
        href="/menu/<%= counts[i].name %>">
        <%= counts[i].name %> 
        (<%= counts[i].item_count%>)
      </a>
    </li>
  <% }%>
</ul>